<?xml version="1.0" encoding="utf-8"?>
<!--该配置文件保存默认包源-->
<configuration>
  <packageSources>
    <!-- Nuget离线包源地址-->
    <add key="本地" value=".\OfflinePackages" />
  </packageSources>
   <config>
    <!-- 指定全局包下载路径 -->
    <add key="全局包目录" value="%LocalAppData%\RPAStudio\Packages\.nuget\packages" />
  </config>
</configuration>
