src/TerminalMACS.Client/obj/
src/TerminalMACS.Controls/bin/
src/TerminalMACS.Controls/obj/
src/TerminalMACS.Home/obj/
src/TerminalMACS.Infrastructure.UI/bin/
src/TerminalMACS.Infrastructure.UI/obj/
src/TerminalMACS/bin/
src/TerminalMACS/obj/
src/WpfExtensions.Xaml/obj/
src/WpfExtensions.Xaml/bin/
src/TerminalMACS.Infrastructure/bin/
src/TerminalMACS.Infrastructure/obj/
src/TerminalMACS.Server/obj/
*.user
src/TerminalMACS/.vs/
src/.vs/
src/Build/
src/TerminalMACS.TestDemo/obj/
src/TerminalMACS.Client/bin/
src/TerminalMACS.Home/bin/
src/TerminalMACS.Server/bin/
src/TerminalMACS.TestDemo/bin/
src/TerminalMACS.Utils.UnitTest/bin/
src/TerminalMACS.Utils.UnitTest/obj/
src/TerminalMACS.Utils/bin/
src/TerminalMACS.Utils/obj/
src/Tools/QuickApp/bin/
src/Tools/QuickApp/obj/
src/Tools/NettyTest/EchoClient/bin/
src/Tools/NettyTest/EchoClient/obj/
src/Tools/NettyTest/EchoServer/bin/
src/Tools/NettyTest/EchoServer/obj/
src/Tools/NettyTest/NettyModel/bin/
src/Tools/NettyTest/NettyModel/obj/
src/Tools/NettyTest/DotNettyClient/bin/
src/Tools/NettyTest/DotNettyClient/obj/
src/Tools/NettyTest/DotNettyServer/bin/
src/Tools/NettyTest/DotNettyServer/obj/
src/Tools/TestSample/bin/
src/Tools/TestSample/obj/
src/Demo/QuartzNETTest/bin/
src/Demo/QuartzNETTest/obj/
src/Demo/WpfLocalizationExtensionTest/bin/
src/Demo/WpfLocalizationExtensionTest/obj/
src/Demo/DPTest/bin/
src/Demo/DPTest/obj/
src/Demo/StrategyModel/bin/
src/Demo/StrategyModel/obj/
src/Demo/AgentModel/bin/
src/Demo/AgentModel/obj/
src/Demo/ConsoleAppForDotnet6/bin/
src/Demo/ConsoleAppForDotnet6/obj/
src/Demo/DecoratorMode/bin/
src/Demo/DecoratorMode/obj/
src/Demo/PrototypeMode/bin/
src/Demo/PrototypeMode/obj/
src/Demo/BuilderPattern/obj/
src/Demo/BuilderPattern/bin/
src/Demo/WpfAppDemo/obj/
src/Demo/WpfAppDemo/bin/
src/Demo/ObserverModel/bin/
src/Demo/ObserverModel/obj/
src/Demo/AbstractFactory/obj/
src/Demo/AbstractFactory/bin/
src/Demo/WebApiWithMediatR/obj/
src/Demo/WebApiWithMediatR/bin/
src/Demo/AppearanceMode/HangfireTest/bin
src/Demo/AppearanceMode/HangfireTest/obj/
src/Demo/WPFWithLogDashboard/bin/
src/Demo/WPFWithLogDashboard/obj/
src/Demo/StateMode/bin/
src/Demo/StateMode/obj/
src/Demo/AdapterMode/bin/
src/Demo/AdapterMode/obj/
src/Demo/TheMementoPattern/bin/
src/Demo/TheMementoPattern/obj/
src/Demo/CompositeModel/bin/
src/Demo/CompositeModel/obj/
src/Demo/IteratorModel/obj/
src/Demo/IteratorModel/bin/
src/Demo/Sorting/bin/
src/Demo/Sorting/obj/
src/Demo/MvvmCrossDemo/bin/
src/Demo/MvvmCrossDemo/obj/
src/Demo/MvvmCrossDemo/MvvmCrossDemo.Core/bin/
src/Demo/MvvmCrossDemo/MvvmCrossDemo.Core/obj/
src/Demo/MvvmCrossDemo/.vs/
src/Demo/MvvmCrossDemo/MvvmCrossDemo.WPF/bin/
src/Demo/MvvmCrossDemo/MvvmCrossDemo.WPF/obj/
src/Demo/MvvmCrossDemo/packages/
src/Demo/VSTOPowerPointPluginTest/bin/
src/Demo/VSTOPowerPointPluginTest/obj/
src/Demo/VSTOPowerPointPluginTest/.vs/
src/Demo/CefSharpTest/bin/
src/Demo/CefSharpTest/obj/
src/Demo/CefSharpTest/packages/
src/Demo/CefSharpTest/publish/
src/Demo/EmptyWpfApp/bin/
src/Demo/EmptyWpfApp/obj/
src/Demo/GeckoWpf/obj/
src/Demo/GeckoWpf/bin/
src/Demo/GeckoWpf/Firefox/
src/Demo/WinformWithGeckofx45/bin/
src/Demo/WinformWithGeckofx45/obj/
src/Demo/WinformWithGeckofx45/Firefox/
src/Demo/WpfWithWebView2/bin/
src/Demo/WpfWithWebView2/obj/
src/.idea/
src/Demo/MessengerDemo/Messager.Sample/bin/
src/Demo/MessengerDemo/Messager.Sample/obj/
src/Demo/MessengerDemo/Messager/bin/
src/Demo/MessengerDemo/Messager/obj/
src/Demo/MessengerDemo/.idea/
src/Demo/MessengerDemo/.vs/
src/Demo/MessengerDemo/.vs/Messager/v17/.suo
/src/Demo/LazyLoadWebImage/obj
/src/Demo/LazyLoadWebImage/bin
src/_ReSharper.Caches/
src/Demo/ColorfulConsoleApp/bin/
src/Demo/ColorfulConsoleApp/obj/
src/Demo/CountSystemInfo/_ReSharper.Caches/
src/Demo/CountSystemInfo/.vs/
src/Demo/CountSystemInfo/bin/
src/Demo/CountSystemInfo/obj/
src/WPFDesignDemos/Dashboard3/bin/
src/WPFDesignDemos/Dashboard3/obj/
src/WPFDesignDemos/WalletPayment/bin/
src/WPFDesignDemos/WalletPayment/obj/
src/WPFDesignDemos/Login5/bin/
src/WPFDesignDemos/Login5/obj/
src/NewbieGuideDemo/bin/
src/NewbieGuideDemo/obj/
src/Demo/ConvertWordToSound/.vs/
src/Demo/ConvertWordToSound/bin/
src/Demo/ConvertWordToSound/obj/
src/Demo/RabbitMQTest/.vs/
src/Demo/RabbitMQTest/RabbitMQReceived/bin/
src/Demo/RabbitMQTest/RabbitMQReceived/obj/
src/Demo/RabbitMQTest/RabbitMQSend/bin/
src/Demo/RabbitMQTest/RabbitMQSend/obj/
src/Demo/SkiaSharpDemo/bin/
src/Demo/SkiaSharpDemo/obj/
src/Demo/WpfAppForZoomInAndZoomOut/_ReSharper.Caches/
src/Demo/WpfAppForZoomInAndZoomOut/.vs/
src/Demo/WpfAppForZoomInAndZoomOut/bin/
src/Demo/WpfAppForZoomInAndZoomOut/obj/
src/Demo/GongSolutions.WPF.DragDrop/bin/
src/Demo/GongSolutions.WPF.DragDrop/obj/
src/Demo/DotNetBrowserDemo/.vs/
src/Demo/DotNetBrowserDemo/bin/
src/Demo/DotNetBrowserDemo/obj/
src/Demo/DotNetBrowserDemo/dotnetbrowser.license
src/Demo/DotNetBrowserDemo/_ReSharper.Caches/
src/Demo/GeckoWpf/.vs/
src/publish/
*.vs/
src/Demo/WpfAppForZoomInAndZoomOut/Publish/
src/Demo/WpfThemeDemo/obj/
src/Demo/WpfThemeDemo/Publish/
src/Demo/PathAnimationDemo/obj/
src/Demo/PathAnimationDemo/Publish/
src/Demo/WorkflowTest/Publish/
src/Demo/WorkflowTest/WorkflowTest/obj/
src/Demo/WorkflowTest/RAPTest2/bin/
src/Demo/WorkflowTest/RAPTest2/obj/
src/Demo/WorkflowTest/RPATest/obj/
src/Demo/WorkflowTest/packages/
src/Demo/WorkflowTest/RibbonDockSample/bin/
src/Demo/WorkflowTest/RibbonDockSample/obj/
src/Demo/WorkflowTest/WorkflowActivitiesSample/InstallNupkgSample/bin/
src/Demo/WorkflowTest/WorkflowActivitiesSample/InstallNupkgSample/obj/
src/Demo/WorkflowTest/WorkflowActivitiesSample/MiniRPAWithActivities/bin/
src/Demo/WorkflowTest/WorkflowActivitiesSample/MiniRPAWithActivities/obj/
src/Demo/WorkflowTest/WorkflowActivitiesSample/packages/
src/Demo/WorkflowTest/WorkflowActivitiesSample/Publish/
src/Demo/WorkflowTest/WorkflowActivitiesSample/RPA.Sample.Activities/obj/
src/Demo/WorkflowTest/WorkflowActivitiesSample/WorkflowActivitiesSample/obj/
src/Demo/WorkflowTest/TrackingParticipantSample/TrackingParticipantSample/bin/
src/Demo/WorkflowTest/TrackingParticipantSample/TrackingParticipantSample/obj/
src/Demo/WorkflowTest/RPAStudio/Activities.Shared/bin/
src/Demo/WorkflowTest/RPAStudio/Activities.Shared/obj/
src/Demo/WorkflowTest/RPAStudio/Activities/RPA.Learn.Activities/bin/
src/Demo/WorkflowTest/RPAStudio/Activities/RPA.Learn.Activities/obj/
src/Demo/WorkflowTest/RPAStudio/packages/
src/Demo/WorkflowTest/RPAStudio/RPA.Interfaces/bin/
src/Demo/WorkflowTest/RPAStudio/RPA.Interfaces/obj/
src/Demo/WorkflowTest/RPAStudio/RPA.Resources/bin/
src/Demo/WorkflowTest/RPAStudio/RPA.Resources/obj/
src/Demo/WorkflowTest/RPAStudio/RPA.Services/bin/
src/Demo/WorkflowTest/RPAStudio/RPA.Services/obj/
src/Demo/WorkflowTest/RPAStudio/RPA.Shared/bin/
src/Demo/WorkflowTest/RPAStudio/RPA.Shared/obj/
src/Demo/WorkflowTest/RPAStudio/RPACommandLine/obj/
src/Demo/WorkflowTest/RPAStudio/RPAExecutor/obj/
src/Demo/WorkflowTest/RPAStudio/RPARobot/obj/
src/Demo/WorkflowTest/RPAStudio/RPAStudio/bin/
src/Demo/WorkflowTest/RPAStudio/RPAStudio/obj/
src/Demo/WorkflowTest/RPAStudio/RPA.Learn.Activities/bin/
src/Demo/WorkflowTest/RPAStudio/RPA.Learn.Activities/obj/
src/Demo/HookDemos/HelloHook/obj/
src/Demo/HookDemos/HookDemos.OwnerLibrary/obj/
src/Demo/HookDemos/Publish/
src/Demo/HookDemos/HookWpf/obj/
src/Demo/HookDemos/HookDotnetAPI/obj/
src/Demo/CshaprWithJavascriptDemo/bin/
src/Demo/CshaprWithJavascriptDemo/obj/
src/Demo/WorkflowTest/RPAStudio/Activities/nupkgs/
src/Demo/CshaprWithJavascriptDemo/packages/
src/Demo/TestDynamicLoadClassLibrary/obj/
src/Demo/TestLoadChildAssebmly/ChildAssembly/obj/
src/Demo/TestLoadChildAssebmly/ChildAssembly/bin/
src/Demo/TestLoadChildAssebmly/TestLoadChildAssebmly/obj/
src/Demo/TestLoadChildAssebmly/TestLoadChildAssebmly/bin/
src/Demo/TestLoadChildAssebmly/TestLoadChildAssebmly/Publish/
