src/TerminalMACS.Client/obj/
src/TerminalMACS.Controls/bin/
src/TerminalMACS.Controls/obj/
src/TerminalMACS.Home/obj/
src/TerminalMACS.Infrastructure.UI/bin/
src/TerminalMACS.Infrastructure.UI/obj/
src/TerminalMACS/bin/
src/TerminalMACS/obj/
src/WpfExtensions.Xaml/obj/
src/WpfExtensions.Xaml/bin/
src/TerminalMACS.Infrastructure/bin/
src/TerminalMACS.Infrastructure/obj/
src/TerminalMACS.Server/obj/
*.user
src/TerminalMACS/.vs/
src/.vs/
src/Build/
src/TerminalMACS.TestDemo/obj/
src/TerminalMACS.Client/bin/
src/TerminalMACS.Home/bin/
src/TerminalMACS.Server/bin/
src/TerminalMACS.TestDemo/bin/
src/TerminalMACS.Utils.UnitTest/bin/
src/TerminalMACS.Utils.UnitTest/obj/
src/TerminalMACS.Utils/bin/
src/TerminalMACS.Utils/obj/
src/Tools/QuickApp/bin/
src/Tools/QuickApp/obj/
src/Tools/NettyTest/EchoClient/bin/
src/Tools/NettyTest/EchoClient/obj/
src/Tools/NettyTest/EchoServer/bin/
src/Tools/NettyTest/EchoServer/obj/
src/Tools/NettyTest/NettyModel/bin/
src/Tools/NettyTest/NettyModel/obj/
src/Tools/NettyTest/DotNettyClient/bin/
src/Tools/NettyTest/DotNettyClient/obj/
src/Tools/NettyTest/DotNettyServer/bin/
src/Tools/NettyTest/DotNettyServer/obj/
src/Tools/TestSample/bin/
src/Tools/TestSample/obj/
src/Demo/QuartzNETTest/bin/
src/Demo/QuartzNETTest/obj/
src/Demo/WpfLocalizationExtensionTest/bin/
src/Demo/WpfLocalizationExtensionTest/obj/
src/Demo/DPTest/bin/
src/Demo/DPTest/obj/
src/Demo/StrategyModel/bin/
src/Demo/StrategyModel/obj/
src/Demo/AgentModel/bin/
src/Demo/AgentModel/obj/
src/Demo/ConsoleAppForDotnet6/bin/
src/Demo/ConsoleAppForDotnet6/obj/
src/Demo/DecoratorMode/bin/
src/Demo/DecoratorMode/obj/
src/Demo/PrototypeMode/bin/
src/Demo/PrototypeMode/obj/
src/Demo/BuilderPattern/obj/
src/Demo/BuilderPattern/bin/
src/Demo/WpfAppDemo/obj/
src/Demo/WpfAppDemo/bin/
src/Demo/ObserverModel/bin/
src/Demo/ObserverModel/obj/
src/Demo/AbstractFactory/obj/
src/Demo/AbstractFactory/bin/
src/Demo/WebApiWithMediatR/obj/
src/Demo/WebApiWithMediatR/bin/
src/Demo/AppearanceMode/HangfireTest/bin
src/Demo/AppearanceMode/HangfireTest/obj/
src/Demo/WPFWithLogDashboard/bin/
src/Demo/WPFWithLogDashboard/obj/
src/Demo/StateMode/bin/
src/Demo/StateMode/obj/
src/Demo/AdapterMode/bin/
src/Demo/AdapterMode/obj/
src/Demo/TheMementoPattern/bin/
src/Demo/TheMementoPattern/obj/
src/Demo/CompositeModel/bin/
src/Demo/CompositeModel/obj/
src/Demo/IteratorModel/obj/
src/Demo/IteratorModel/bin/
src/Demo/Sorting/bin/
src/Demo/Sorting/obj/
