<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="${basedir}/logs/nlog-internal.log">
  <!--可以设置变量为特定的目录名称在后面使用-->
  <variable name="RPAStudioLogsDirectory" value="${specialfolder:folder=LocalApplicationData}/RPAStudio/Logs" />
  <targets>
    <!--调试器日志-->
    <target name="Debugger" xsi:type="Debugger" layout="${newline}####################${logger}::${message} ${exception:format=tostring}####################${newline}"/>
    <!--带颜色的控制台日志-->
    <target name="ColoredConsole" xsi:type="ColoredConsole" layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message} ${exception:format=tostring}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

    <!--Windows系统日志,可用事件查看器来查看-->
    <target name="EventLog" xsi:type="EventLog"
            layout="${processname} ${assembly-version} ${newline}${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message} ${exception:format=tostring}"
            source="NLogSample" log="Application" />

    <!--archiveAboveSize单位为字节-->
    <target name="File" xsi:type="File" fileName="${RPAStudioLogsDirectory}/${processname}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message} ${exception:format=tostring}"
                concurrentWrites="true" keepFileOpen="true" openFileCacheTimeout="5"
                encoding="UTF-8"
                archiveFileName="${RPAStudioLogsDirectory}/Archives/${processname}.{#}.log"
                archiveNumbering="DateAndSequence"
                maxArchiveFiles="100"
                archiveAboveSize="5242880"
                archiveEvery="Day"
                archiveDateFormat="yyyyMMdd"
    />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="Debugger" />
    <logger name="*" minlevel="Trace" writeTo="ColoredConsole" />
    <logger name="*" minlevel="Trace" writeTo="File" />
    <logger name="*" minlevel="Error" writeTo="EventLog" />
    <!--当出现Error及以上级别日志时，输出到事件查看器中,注意程序必须以管理员权限启动才能记录到事件日志里-->
  </rules>
</nlog>
