<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.8.2" targetFramework="net461" />
  <package id="gong-wpf-dragdrop" version="2.3.2" targetFramework="net461" />
  <package id="Gu.Wpf.Adorners" version="2.1.1" targetFramework="net461" />
  <package id="HighlightableTextBlock" version="1.0.1.1" targetFramework="net461" />
  <package id="MvvmLight" version="5.4.1.1" targetFramework="net461" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="NLog" version="4.7.10" targetFramework="net461" />
  <package id="NLog.Config" version="4.7.10" targetFramework="net461" />
  <package id="NLog.Schema" version="4.7.10" targetFramework="net461" />
  <package id="ReflectionMagic" version="4.1.0" targetFramework="net461" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net461" />
</packages>