<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<runtime>
		<assemblyBinding>
			<dependentAssembly>
				<assemblyIdentity name="0Harmony"
				  publicKeyToken="null" culture="neutral"/>
				<codeBase version="1.2.0.1" href="0Harmony.dll" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="0Harmony"
				  publicKeyToken="411f9957a5e7d126" culture="neutral"/>
				<codeBase version="2.3.0.0" href="Lib\Lib.Harmony\2.3.0-prerelease.2\0Harmony.dll" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>