<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="86.0.24" targetFramework="net461" />
  <package id="cef.redist.x86" version="86.0.24" targetFramework="net461" />
  <package id="CefSharp.Common" version="86.0.241" targetFramework="net461" />
  <package id="CefSharp.Wpf" version="98.1.210" targetFramework="net461" />
</packages>